---
# install
- name: Add jenkins repository.
  yum_repository:
    name: jenkins
    description: Jenkins
    baseurl: http://pkg.jenkins.io/redhat
    gpgkey: http://pkg.jenkins-ci.org/redhat/jenkins-ci.org.key
    gpgcheck: yes
    enabled: no

- name: Ensure jenkins is installed.
  yum: name=jenkins enablerepo=jenkins state=installed

# configure
- name: Set HTTP port in Jenkins config.
  lineinfile:
    backrefs: yes
    dest: /etc/sysconfig/jenkins
    regexp: '^JENKINS_PORT='
    line: 'JENKINS_PORT={{ jenkins_port }}'
  notify: restart jenkins

- name: Jenkins - configure | Turn off Jenkins setup wizard
  lineinfile:
    dest: /etc/sysconfig/jenkins
    regexp: '^JENKINS_JAVA_OPTIONS='
    line: 'JENKINS_JAVA_OPTIONS="-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false"'
  notify: restart jenkins

# service
- name: Ensure jenkins is started and enabled to start at boot.
  service: name=jenkins state=started enabled=yes

# cli
- name: Get the jenkins-cli jarfile from the Jenkins server.
  get_url:
    url: "http://localhost:{{ jenkins_port }}/jnlpJars/jenkins-cli.jar"
    dest: "{{ jenkins_jar_location }}"
  register: jarfile_get
  until: "'OK' in jarfile_get.msg or 'file already exists' in jarfile_get.msg"
  retries: 5
  delay: 10

# plugin
- name: Create Jenkins updates folder.
  file:
    path: "{{ jenkins_home }}/updates"
    owner: jenkins
    group: jenkins
    mode: 0755
    state: directory
  register: jenkins_plugins_folder_create

- name: Update Jenkins plugin data.
  shell: curl -L https://updates.jenkins-ci.org/update-center.json | sed '1d;$d' > "{{ jenkins_home }}/updates/default.json"
  args:
    creates: "{{ jenkins_home }}/updates/default.json"

- name: Permissions for default.json updates info.
  file:
    path: "{{ jenkins_home }}/updates/default.json"
    owner: jenkins
    group: jenkins
    mode: 0755
  when: jenkins_plugins_folder_create.changed

- name: jenkins | Get installed plugins.
  shell: java -jar {{ jenkins_jar_location }} -s http://localhost:{{ jenkins_port }} list-plugins
  register: plugin_list
  changed_when: False
  
- name: Install default Jenkins plugins.
  shell: java -jar {{ jenkins_jar_location }} -s http://localhost:{{ jenkins_port }} install-plugin {{ item }}
  register: result
  changed_when: '"{{ item }}" not in plugin_list.stdout'
  with_items: "{{ jenkins_default_plugins }}"

# - name: Make sure the plugin is always up-to-date
#   jenkins_plugin: name={{ item }} state=latest url={{ jenkins_server_url }} jenkins_home={{ jenkins_home }}
#   with_items: "{{ jenkins_default_plugins }}"
